# ==============================================================================
# Plateforme Nationale de Données Territoriales du Sénégal - Environnement
# ==============================================================================

# Application
APP_NAME="Données Territoriales SN"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

# Base de Données PostGIS
DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=donnees_territoriales_sn
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Redis
REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

# Queue & Cache
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_MAP_DEFAULT_CENTER_LON=-14.45
NEXT_PUBLIC_MAP_DEFAULT_CENTER_LAT=14.49
NEXT_PUBLIC_MAP_DEFAULT_ZOOM=6.5
